.search {
    width: 600px;
    height: 250px;
    background-color: #FFFF;
    border-radius: 5px;
    padding: 5px;
    border-width: .1px;
    box-shadow: 3px 3px 5px grey, -3px -3px 5px grey, 3px -3px 5px grey, -3px 3px 5px grey;
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
}